@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}


.bg {
    height: 100vh;
    position: absolute;
    width: 300px;
    right: 0;
    background-color: #ddd;
}
header {
    width: 100%;
    height: 120vh;
    position: relative;
    background-color: #f8f8f8;
    z-index: 2;
}
header::before {
    content: "";
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #e89828;
    z-index: -1;
}

header:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e89828;
    width: 100%;
    height: 100%;
    border-radius: 0% 63% 100% 0% / 100% 0% 100% 0%;
    z-index: -1;
    display: none;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.w50 {
    width: calc(50% - 20px);
    margin: 10px;
}
.w33 {
    width: calc(33.3% - 20px);
    margin: 10px;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.menu {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo {
    font-size: 26px;
    color: #e89828;
    font-weight: 700;
}
.btn {
    background-color: #fff;
    padding: 8px 36px;
    border-radius: 20px;
}
.btn a {
    color: #e89828;
    font-weight: 600;
    font-size: 14px;
    display: block;
}
nav.desktop ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
}
nav.desktop ul li a {
    color: #272727;
}
.content-header {
    height: calc(120vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foto-banner {
    max-width: 450px;
}
.foto-banner img {
    width: 100%;
    margin-left: 15px;
    transform: rotateY(-20deg);
}
.content-text h1 {
    font-size: 31px;
    line-height: 40px;
    font-weight: 800;
    color: #272727;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.content-text p {
    color: #767976;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
}
.content-text a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    background-color: #e89828;
    padding: 8px 36px;
    border-radius: 5px;
}



.box-description {
    padding: 20px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
.box-description-content {
    padding: 20px;
}
.box-description-content i {
    color: #0b5df7;
    font-size: 26px;
    margin-bottom: 15px;
}
.box-description-content h2 {
    color: #272727;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}
.box-description-content p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #767976;
}
.box-icon-diff i {
    color: #767976;
    margin: 0;
    font-size: 25px;
    transition: 0.5s ease-in-out;
}
.box-description-content:hover .box-icon-diff i {
    margin-left: 20px;
    color: #0b5df7;
}



/* about */
.about {
    margin: 80px 0;
    color: #272727;
}
.title h3 {
    font-size: 13px;
    font-weight: 300;
    padding: 2px 15px;
    color: #fff;
    background-color: #e89828;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 15px;
}
.title h2 {
    font-size: 26px;
    margin-bottom: 28px;
    color: #282828;
}
.box-about-single-paragraph p {
    color: #767976;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}
.box-about-img img {
    max-width: 420px;   
}
.lista-box-single ul {
    margin: 30px 0;
}
.lista-box-single ul li {
    font-size: 13px;
    line-height: 30px;
    position: relative;
    margin-left: 35px;
    font-weight: 400;
    color: #393939;
}
.lista-box-single ul li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 4px;
    width: 12px;
    height: 12px;
    border: 4px solid #0b5df7;
    border-radius: 50%;
}
.box-tree-itens {
    display: flex;
    align-items: center;
    height: 100px;
}
.iten-single {
    flex: 1;
    text-align: center;
    padding: 20px;
}
.iten-single h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.iten-single p {
    font-weight: 400;
    font-size: 15px;
    color: #393939;
}
.project {
    background-color: #f8f3dc;
}
.project h3 {
    color: #f8aa29;
}
.client {
    background-color: #f8e8e2;
}
.client h3 {
    color: #e84a2e;
}
.offices {
    background-color: #d8e8f8;
}
.offices h3 {
    color: #0b5df7;
}


/* services */
.title h3.bg-red {
    background-color: #e84828;
}
.services {
    margin: 80px 0;
}
.title p.max {
    max-width: 60%;
    color: #767976;
    font-size: 14px;
    font-weight: 400;
}
.flex-itens-services {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.item-single-service {
    width: calc(33.3% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.flex-itens-services .item-single-service:nth-child(1) {
    margin-left: 0;
}
.flex-itens-services .item-single-service:nth-child(4) {
    margin-left: 0;
}
.flex-itens-services .item-single-service:nth-child(3) {
    margin-right: 0;
}
.flex-itens-services .item-single-service:nth-child(6) {
    margin-right: 0;
}
.box-icon-service {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}
.item-single-service h2 {
    font-size: 18px;
    color: #272727;
    font-weight: 600;
    margin: 10px 0;
}
.item-single-service p {
    font-size: 13px;
    font-weight: 300;
    color: #767976;
    line-height: 26px;
}
.ui {
    background-color: #0958f7;
}
.dev {
    background-color: #e8492c;
}
.web {
    background-color: #f7d938;
}
.seo {
    background-color: #e89828;
}
.mob {
    background-color: #6839c8;
}
.sup {
    background-color: #0958f7;
}
.item-single-service i.fa-long-arrow-right {
    color: #767976;
    transition: 0.5s ease-in-out;
    font-size: 24px;
}
.item-single-service:hover i.fa-long-arrow-right {
    margin-left: 20px;
    color: #0958f7;
}



/* portfolio */
.portfolio-title {
    text-align: center;
}
.portfolio-title h3.bg-blue {
    background-color: #0958f7;
}
.portfolio-menu {
    text-align: center;
    margin-top: 50px;
}
.portfolio-menu ul li {
    display: inline-block;
    padding: 3px 26px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #272727;
    border-radius: 5px;
}
.portfolio-menu ul li:hover {
    background-color: #e84828;
    color: #fff;
}
.portfolio-item {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item .item {
    width: calc(33% - 20px);
    margin: 10px;
    flex: 1;
    margin-bottom: 10px;
}
.portfolio-menu ul li.active {
    background-color: #e84828;
    color: #fff;
}



/* blog */
.blog {
    margin: 100px 0;
}
.content-blog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.blog-info {
    width: calc(33.3% - 20px);
    margin: 10px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.blog-info:hover .box-icon-blog {
    background-color: #f0b225;
    color: #fff;
}
.box-blog-body {
    padding: 20px;
}
.box-blog-body h2 {
    color: #282828;
    font-size: 18px;
    font-weight: 600;
}
.box-blog-body p {
    font-size: 14px;
    color: #767976;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 12px;
}
.box-icon-blog {
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f0b225;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    background-color: #fff;
    transition: 0.5s ease-in-out;
}


/* Brands */
.flex-brands {
    display: flex;
}
.brands-item {
    flex: 1;
    color: #999;
    text-align: center;
    font-size: 50px;
}
.mobile {
    display: none;
}



/* flex-subscribe */
.flex-subscribe {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 60px;
    background-color: #e89828;
    align-items: center;
    padding: 30px 20px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    margin-bottom: -50px;
    z-index: 2;
}
.flex-subscribe-text {
    flex: 1;
}
.flex-subscribe-text h2 {
    font-size: 22px;
    font-weight: 600;
}
.flex-subscribe-text p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    max-width: calc(100% - 150px);
}
.btn-subscribe {
    width: 150px;
}
.btn-subscribe a {
    padding: 8px 26px;
    background-color: #fff;
    color: #e89828;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}



/* footer */
footer {
    background-color: #0c203f;
    padding: 60px 0 0 0;
}
.flex-footer {
    display: flex;
    color: #fff;
    border-bottom: 0.5px solid #0958f7;
}
.flex-item-footer li {
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
}
.flex-item-footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.flex-item-footer li a {
    color: #fff;
}
.flex-item-footer .logo-footer ul {
    margin-top: 20px;
}
.flex-item-footer .logo-footer ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}
.flex-item-footer .logo-footer ul li:nth-child(1) {
    padding-left: 0;
}
.flex-item-footer {
    flex: 1;
    margin: 10px;
}
.text-center {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

/* Mobile */
@media screen and (max-width: 820px) {
    .lista-box-single {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    header::after {
        display: block;
    }
    header::before {
        display: none;
    }
    .flex-subscribe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .flex-subscribe-text p {
        max-width: 100%;
        margin-bottom: 15px;
    }
    header {
        position: static;
    }
    .foto-banner {
        display: none;
    }
    .container {
        width: 95%;
    }
    
    .w50 {
        width: 100%;
        margin: 0;
    }
    .w33 {
        width: 100%;
        margin: 0;
    }
    .portfolio-item .item {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        margin-top: 15px;
    }
 
    .blog-info {
        margin-top: 20px;
        width: calc(50% - 20px);
    }
    .portfolio-menu ul li {
        padding: 3px 10px;
    }
    .item-single-service {
        width: calc(50% - 20px);
    }
    .flex-itens-services .item-single-service:nth-child(1) {
        margin-left: 10px;
    }
    .flex-itens-services .item-single-service:nth-child(4) {
        margin-left: 10px;
    }
    .flex-itens-services .item-single-service:nth-child(3) {
        margin-right: 10px;
    }
    .flex-itens-services .item-single-service:nth-child(6) {
        margin-right: 10px;
    }
    .title {
        text-align: center;
        margin-top: 20px;
    }
    .title p {
        text-align: center;
    }
    .box-about-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-description-content {
        border-bottom: 0.5px solid #999;
    }
    .content-text h1 {
        font-size: 26px;
        margin-top: -80px;
    }
    .content-text {
        text-align: center;
    }
    .lista-box-single ul li {
        font-size: 13px;
    }
    .title p.max {
        max-width: 100%;
    }
    nav.desktop {
        display: none;
    }
    .btn {
        display: none;
    }
    nav.mobile {
        display: block;
    }
    nav.mobile ul {
        position: absolute;
        top: 70px;
        left: 0;
        text-align: center;
        width: 100%;
        display: none;
        z-index: 100;
    }
    nav.mobile ul li {
        line-height: 40px;
        font-size: 15px;
        background-color: #e89828;
    }
    nav.mobile ul li a {
        color: #fff;
    }
    .btn-mobile {
        font-size: 30px;
        margin-top: -10px;
        color: #e89828;
        cursor: pointer;
    }
    .flex-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .flex-footer h2 {
        color: #e89828;
    }
    .flex-subscribe {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .blog-info {
        width: 100%;
        margin: 30px 0px;
    }
    .content-blog {
        flex-direction: column;
    }
    .flex-itens-services {
        flex-direction: column;
    }
    .item-single-service {
        width: 100%;
        margin: 15px 0px;
    }
}
